@import "base";

.AboutContentContainer {
  padding: 2em;
  min-height: 100vh;

  h2 {
    color: $primaryColor;
    font-size: x-large;
    padding: 0;
    margin: 0;
  }

  .Hint {
    font-size: small;
  }

  p {
    padding: 0;
    margin: 0;
    max-width: 50vw;
  }

  .AboutContent {
    margin-top: 2em;
  }

  .Links {
    margin-top: 1em;

    a {
      margin-right: 1em;
    }
  }

  section {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;

    .ContactForm {
      display: block;
      .email {
        width: 100%;
      }
    }

  }
}