$primaryColor: rgb(41, 98, 255);
$backgroundColor: #f8f8f8;
$blackColor: #1f2326;
$whiteColor: #ffffff;
$greyColor: rgb(238, 238, 238);

$phone: "phone";
$tab-port: "tab-portraite";
$tab-land: "tab-landscape";
$big: "bigDesktop";

@mixin layoutManager($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };
  }

  @if $breakpoint == tab-portraite {
    @media (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-landscape {
    @media (max-width: 75em) { @content };
  }

  @if $breakpoint == bigDesktop {
    @media (max-width: 112.5em) { @content };
  }
}