@import "base";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 16px;
  line-height: 1.56;
  color: #252525;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a, p, h1, h2, h3, h4, h5, label {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

section {
  padding: 40px 0;
  border-top: 1px solid #e3e3e3;
}

* , *:after, *:before {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', sans-serif;
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


.Toolbar_Container .Content {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  place-items: center center;
  margin: 0;
}

.Toolbar_Container .Content h3 {
  color: $primaryColor;
  font-family: 'Caveat', cursive;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.Toolbar_Container .Content .Links {
  display: flex;
}

.Toolbar_Container .Content .Links > a {
  margin-right: 1em;
}

.active {
  color: $primaryColor;
}

a:hover {
  color: $primaryColor;
  transition-duration: 0.5s;
}

.Container .PageHeaderComponent {
  display: flex;
  height: 90vh;
}

.Container .PageHeaderComponent .Description {
  flex: 1;
  display: flex;
  justify-content: center;
  place-items: center center;
  height: 90vh;
}

.Container .PageHeaderComponent .Image {
  flex: 1;
  display: flex;
  justify-content: center;
  place-items: center center;
  height: 90vh;

}

.Container .PageHeaderComponent .Description .Content {
  max-width: 70%
}

.Description .Content .SubTitle {
  font-size: small;
}

.Description .Content  label {
  color: $primaryColor;
  font-size: xx-large;
}

.Container .PageHeaderComponent .Image {
  flex: 1;
}

.Circle {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: $primaryColor;
  margin-right: 5px;
  margin-top: 2px;
}

span {
  font-size: small;
}


.Tags {
  display: flex;
}

.Tags span {
  margin-right: 1em;
}

.BigArea {
  margin-top: 1em;
}

.Buttons {
  margin-top: 1em;
  display: flex;
}

.HeaderButton {
  background-color: #eee;
  border: none;
  text-align: center;
  border-radius: 20px;
  padding: 10px 18px;
  display: inline-flex;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: 1s;
}

.Button2 {
  margin-left: 1em;
}

.ResumeButton:hover {
  color: $primaryColor;
}

.Technologies {
  margin-top: 1em;
  display: flex;
}

.TechTitle {
  color: $primaryColor;
  margin-top: 1.5em;
}

.Technologies {
  display: grid;
  margin-top: 0.3em;
  grid-template-columns: repeat(2, minmax(140px, 400px));
  padding: 0px;
  overflow: hidden;
  list-style: none;
  grid-row-gap: 5px;
}

.Technologies li {
  font-size: smaller;
}